.galleryCollapsed {
  height: 92vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(247, 239, 255);
}

.arrows-div {
  position: relative;
  top: -100px;
  z-index: 1;
}

.previousImage,
.nextImage {
  background: transparent;
  border: none;
}

.moreBtn {
  border: none !important;
}

.moreBtn:hover {
  background: none !important;
  color: rgb(29, 130, 26) !important;
  font-weight: 800 !important;
}
